@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);
@import url(./blocks/page/page.css);
@import url(./blocks/partnership/partnership.css);
@import url(./blocks/partnership/__title/partnership__title.css);
@import url(./blocks/partnership/__subtitle/partnership__subtitle.css);
@import url(./blocks/form/form.css);
@import url(./blocks/form/__fieldset/form__fieldset.css);
@import url(./blocks/form/__field/form__field.css);
@import url(./blocks/form/__field/_type/form__field_type_area.css);
@import url(./blocks/form/__error/form__error.css);
@import url(./blocks/partnership/__button/partnership__button.css);
@import url(./blocks/partnership/__akcept/partnership__akcept.css);
@import url(./blocks/partnership/__text/partnership__text.css);
@import url(./blocks/partnership/__text-color/partnership__text-color.css);
@import url(./blocks/partnership/__checkbox/partnership__checkbox.css);
@import url(./blocks/partnership/__visible-checkbox/partnership__visible-checkbox.css);
@import url(./blocks/contacts/contacts.css);
@import url(./blocks/contacts/__title/contacts__title.css);
@import url(./blocks/contacts/__wrap/contacts__wrap.css);
@import url(./blocks/contacts/__map/contacts__map.css);
@import url(./blocks/contacts/__adress/contacts__adress.css);
@import url(./blocks/contacts/__text/contacts__text.css);
@import url(./blocks/contacts/__icons/contacts__icons.css);
@import url(./blocks/contacts/__icon/contacts__icon.css);
@import url(./blocks/contacts/__icon/_type/contacts__icon_type_size.css);
@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__logo/footer__logo.css);
@import url(./blocks/footer/__copiright/footer__copiright.css);
@import url(./blocks/footer/__copiright/_type/footer__copiright_type_indent.css);
@import url(./blocks/footer/__contact/footer__contact.css);
@import url(./blocks/footer/__contact/_type/footer__contact_type_color.css);
@import url(./blocks/footer/__wrap/footer__wrap.css);
@import url(./blocks/footer/__icons/footer__icons.css);
@import url(./blocks/footer/__icon/footer__icon.css);
@import url(./blocks/footer/__icon/_type/footer__icon_type_size.css);
@import url(./blocks/footer/__contacts/footer__contacts.css);
@import url(./blocks/footer/__contact/_type/footer__contact_type_bottom.css);
@import url(./blocks/footer/__background/footer__background.css);




.page__header {
  padding: 0 60px;
}

.page__promo {
  margin: 0 0 276px 0;
  padding: 0 60px;
}

.page__idea {
  margin-bottom: 160px;
  padding: 0 60px;
}

.nav {
  font-size: 16px;
  line-height: 1.1;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.logo-header {
  max-width: 144px;
}

.menu-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-list-left {
  align-self: start;
  display: flex;
  flex-basis: 511px;
  gap: 53px;
  border-bottom: 1px solid #974C00;
  padding: 32px 0 10px 0;
}

.menu-list-right {
  display: flex;
  gap: 24px;
  align-self: start;
  border-bottom: 1px solid #974C00;
  flex-basis: 497px;
  justify-content: end;
  padding: 28px 0 10px 0;
}

.menu__item:nth-child(4) {
  margin: 0 0 0 22px;
}

.menu__link {
  color: #974C00;
  text-decoration: none;
  display: flex;
  align-items: baseline;
}

.menu__link-image {
  width: 21px;
}

.main {
}

.promo {
  position: relative;
}

.promo__title {
  line-height: 1.25;
  font-weight: 400;
  font-family: 'Caveat';
  max-width: 575px;
  padding: 76px 0 0 0;
  font-size: 80px;
  color: #974C00;
  left: 1.1;
  margin: 0 0 45px 0;
}

.promo__title-span {
  line-height: 1.1;
  font-weight: 400;
  font-family: 'Philosopher';
  text-transform: uppercase;
}

.promo__text {
  font-size: 24px;
  line-height: 1.1;
  color: #000;
  margin: 0 0 219px 0;
}

.promo__links {
}

.promo__link {
  width: 190px;
  font-size: 18px;
  line-height: 1.1;
  color: #000;
  text-decoration: none;
  padding: 19px 42px;
  background: linear-gradient(180deg, #FFC581 0%, #FF8401 100%);
  box-shadow: inset -4.16346e-16px -1px 6.79944px #A25300, inset 4.16346e-16px 6.79944px 6.79944px #FF9000;
  border-radius: 30px;
  margin: 0 45px 0 0;
}

.promo__link:last-of-type{
  margin: 0;
}

.promo__title-span:last-of-type{
  margin: 0 0 0 115px;
}

.promo__image {
  position: absolute;
  top: -110px;
  right: 0px;
  z-index: -1;
}

.idea {
}

.idea__title {
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  font-size: 40px;
  line-height: 1.1;
  color: #974C00;
  margin-bottom: 60px;
}

.idea__box {
  display: flex;
}

.idea__image {
  margin: 0 60px 0 0;
}

.idea__box-text {
  padding: 10px 0 0 0;
  max-width: 526px;
  min-height: 300px;
}

.idea__text {
  font-size: 18px;
  line-height: 1.1;
  margin: 0 0 20px 0;
}

.idea__text:nth-of-type(4) {
  margin: 0 0 26px 0;
}

.idea__cite {
  font-family: 'Caveat';
  font-size: 24px;
  max-width: 159px;
  margin: 0;
  line-height: 0.95;
}


.popup {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s linear;
}

.popup__container {
 max-width: 980px;
 background-color: #FFFCFA;
 border: 1px solid #000000;
 border-radius: 51px;
 position: relative;
}

.popup__close-btn {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: rgba(255, 136, 0, 0.1);
  box-shadow: inset 3.33333px -3.33333px 3.33333px rgba(194, 103, 0, 0.1), inset -3.33333px 3.33333px 3.33333px rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 30px;
  right: 35px;
  background-image: url(./images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.popup__volunteers {
}

.popup__title {
  padding: 60px 152px 0;
  margin: 0 0 40px 0;
  text-align: center;
  font-family: 'Comfortaa';
  font-weight: 600;
  font-size: 40px;
  color: #974C00;
  max-width: 675px;
  line-height: 1.1;
}

.popup__text {
  padding: 0 80px 0;
  margin: 0;
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.27;
}

.popup__text:nth-of-type(2) {
  margin: 0 0 15px 0;
}

.popup__text:nth-of-type(3) {
  margin: 0 0 25px 0;
  max-width: 655px;
}

.popup__form {
  padding: 50px 0 0 91px;
  display: inline-flex;
  flex-direction: column;
}

.popup__input {
  width: 444px;
  margin: 0 0 13px 0;
  border: 1px solid #B6B6B6;
  border-radius: 20px;
  min-height: 40px;
  padding: 0 20px;
  font-family: inherit;
  outline: none;
  z-index: 1;
  box-sizing: border-box;
}


.popup__input:nth-of-type(2) {
  margin: 0 0 40px 0;
}

.popup__button {
  padding: 19px 64px;
  background: linear-gradient(180deg, #FFC581 0%, #FF8401 100%);
  box-shadow: inset -4.16346e-16px -1px 6.79944px #A25300, inset 4.16346e-16px 6.79944px 6.79944px #FF9000;
  border-radius: 30px;
  border: none;
  width: 250px;
  margin: 0 auto 40px;
}

.popup__checkbox-container {
  max-width: 335px;
  display: flex;
  margin: 0 auto;
  padding: 0 0 60px 0;
}

.input__checkbox {
  width: 20px;
  height: 20px;
  margin: 0 11px 0 0;
}

.input__checkbox-text {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #000;
  margin: 0;
  max-width: 303px;
}

.input__checkbox-link {
  color: #E37500;
  text-decoration: none;
}

.popup__image {
  position: absolute;
  bottom: 35px;
  right: 28px;
  z-index: 0;
}

.popup__help {
}

.popup__help-title {
  font-family: 'Comfortaa';
  font-weight: 600;
  font-size: 40px;
  color: #974C00;
  max-width: 675px;
  line-height: 1.1;
  max-width: 759px;
  padding: 60px 141px 0 80px;
  margin: 0 0 40px 0;
}

.popup__help-text {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.27;
  padding: 0 0 0 80px;
  margin: 0;
  max-width: 789px;
}

.popup__help-text:first-of-type {
  margin-bottom: 23px;
}

.popup__help-text:nth-of-type(2) {
  margin-bottom: 23px;
}

.popup__help-text:nth-of-type(3) {
  max-width: 574px;
  margin-bottom: 21px;
}

.popup__help-text:nth-of-type(4) {
  max-width: 574px;
  margin-bottom: 23px;
}

.popup__help-text:last-of-type {
  padding-bottom: 60px;
  max-width: 574px;
}

.popup__help-text-bold {
  font-weight: 700;
}

.popup__help-image {
  position: absolute;
  bottom: 52px;
  right: 39px;
}

.popup_active {
  opacity: 1;
  visibility: visible;
}
