.partnership__button {
  background: linear-gradient(180deg, #FFC581 0%, #FF8401 100%);
  box-shadow: inset -4.16346e-16px -1px 6.79944px #A25300, inset 4.16346e-16px 6.79944px 6.79944px #FF9000;
  border-radius: 30px;
  border: 0;
  font-size: 18px;
  line-height: 1.11;
  min-height: 58px;
  max-width: 250px;
  width: 100%;
  margin: 0 0 34px 196.5px;
  padding: 0;
}

.partnership__button:hover {
  cursor: url(../../../images/1758-pusheen-upset-pointer.svg) ,pointer;
}
