.footer__background {
  background-image: url(../../../images/lapi-kota.png);
  background-repeat: no-repeat;
  max-width: 862px;
  width: 100%;
  min-height: 550px;
  position: absolute;
  bottom: 0;
  left: 176.17px;
  background-position: center;
}
